body
{
  padding: 0;
  padding-top: 3.5rem;
  margin: 0;
}

/* body,
html {
  height: 100%;
} */

#map {
  height: 600px;
  width: 100%;
  position: relative;
}

#scatter {
  max-width: 1200px;
  margin: 5% 0 0 5%;
}

#scatter2 {
  max-width: 1200px;
  margin: 5% 0 0 5%;
}

.chart-head {
  text-align: center;
}